<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CerealPotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialPotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CerealPotter.Properties.Settings>
            <setting name="regex_pattern" serializeAs="String">
                <value>(\w+),(\d+(\.\d+)?)</value>
            </setting>
            <setting name="serial_port" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="regex_pattern_noname" serializeAs="String">
                <value>(\d+([\.]\d+)?)[,](\d+([\.]\d+)?)</value>
            </setting>
            <setting name="curve_names" serializeAs="String">
                <value>mA,V</value>
            </setting>
            <setting name="curve_multipliers" serializeAs="String">
                <value>0.001,0.01</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>245, 258</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1463, 803</value>
            </setting>
            <setting name="ReadsPerSec" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BufferLenSeconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Threshold_mA" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PreThreshold_ms" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TrigThresholdPct" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TriggerAvgWindowMs" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TriggerDelta_mA" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PeakDetectionLag_ms" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PeakDetectionSignalInfluence" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PeakDetectionThreshold" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="curves_titles" serializeAs="String">
                <value>Current,Voltage</value>
            </setting>
            <setting name="DataFileInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Precision" serializeAs="String">
                <value />
            </setting>
        </CerealPotter.Properties.Settings>
        <SerialPotter.Properties.Settings>
            <setting name="regex_pattern" serializeAs="String">
                <value>(\w),(\d+)</value>
            </setting>
            <setting name="serial_port" serializeAs="String">
                <value>COM5</value>
            </setting>
        </SerialPotter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
